[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
ipdb = "*"
ipython = "*"
flask = "*"
requests = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pysqlite3 = "*"
pytest-xdist = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
